# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    content_sources:
    
        test:
            name: "Static test"
            description: "Static dummy data for demonstrating expected data structures"
            classname: "Digicol\\SchemaOrg\\TestAdapter"
            
        # Local DC-X content source
        # dcx:
        #     name: "DC-X"
        #     description: "Access to the local DC-X DAM"
        #     classname: "Digicol\\SchemaOrg\\Dcx\\DcxAdapter"
        #     url: "http://localhost/dcx/api/"
        #     credentials:
        #         username: "testuser"
        #         password: "secret"
        #     http_useragent: "DcxSchemaOrgTestUi"
        
        # Getty Images API content source
        # gettyimages:
        #     name: "Getty Images"
        #     description: "Getty Images API"
        #     classname: "Digicol\\SchemaOrg\\GettyImages\\GettyImagesAdapter"
        #     credentials:
        #         api_key: "KEY"
        #         api_secret: "SECRET"
